<section
  class="jumbotron jumbotron-fluid {{ bg_color }}"
  id="jumbotron-id-{{ bg_img_id }}"
>
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron__callout col-md-5 offset-md-1 p-3">
        <h2 class="jumbotron__title">{{ title }}</h2>
        <p class="jumbotron__subhead">{{ subhead }}</p>
        {% if has_links %}
          <div class="jumbotron__links">
            {% block links %}
              <a class="btn btn-primary" href="#">Button 1</a>
              <a class="btn btn-default" href="#">Button 2</a>
            {% endblock %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
