<div class="accordion-row">
  <h3 class="accordion-title">Accordion title</h3>
  <div class="accordion-contents">
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
  </div>
</div>

<div class="accordion-row">
  <h3 class="accordion-title">Accordion title</h3>
  <div class="accordion-contents">
    <ul>
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li><a href="#">Item 4</a></li>
    </ul>
  </div>
</div>