.accordion-row {
  border-top: 1px solid $color-default-border-color;
  &:last-of-type {
    border-bottom: 1px solid $color-default-border-color;
  }
}

.accordion-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  cursor: pointer;
  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 30px;
    position: relative;
    top: 3px;
  }
  &:hover{
    background-color: $gray-100;
  }
}
.accordion-count {
  color: $color-gray-medium;
  margin-left: 5px;
}

.accordion-contents {
  display: none;
  a {
    font-size: 1rem;
  }
  ul {
    margin: 0;
    li {
      padding-left: 0;
      &:before {
        content: '';
      }
    }
  }
}

// Toggle open state
.accordion-row.accordion-open {

  .accordion-title:before {
  }
  .accordion-contents {
    display: block;
    background-color: none;
    padding-left:50px;
  }
}