<article class="page-content">
<ul class="term-tags">
  <li><a href="#">Collaborative Law</a></li>
  <li><a href="#">California</a></li>
</ul>

<h2 class="page-content--title">Parenting time and visitation schedules, expense tracking, messaging and more. (H2)</h2>
<h3>Lorem ipsum dolor sit amet (h3)</h3>
<p>
  Morbi accumsan felis lacus, eget rhoncus diam pellentesque ut. Phasellus eu
  posuere mauris. <a href="#">Sed dolor velit</a>, dapibus sit amet diam sed, lobortis tempor
  enim. Donec quam massa, tristique ac nunc non, lobortis condimentum urna.
</p>

<div>
  <a class="btn btn-primary" href="#">Primary Button</a>
  <a class="btn btn-ghost" href="#">Ghost Button</a>
</div>

<h4>Lorem ipsum dolor sit amet (h4)</h4>
<p>
  <span>Donec nec turpis ipsum</span>. Nulla felis enim, faucibus sit amet lacus quis,
  pulvinar dapibus odio. Maecenas pharetra erat ac dui venenatis, a dapibus lorem
  molestie. Nam ut fermentum dui. Morbi accumsan felis lacus, eget rhoncus diam
  pellentesque ut. Phasellus eu posuere mauris.
</p>
<p>
  Nulla felis enim, faucibus sit amet lacus quis,
  pulvinar dapibus odio. Maecenas pharetra erat ac dui venenatis, a dapibus lorem
  molestie. Nam ut fermentum dui. Morbi accumsan felis lacus, eget rhoncus diam
  pellentesque ut. Phasellus eu posuere mauris.
</p>
<ul>
  <li>Option #1</li>
  <li>Option #2</li>
  <li>Option #3</li>
  <li>Donec nec turpis ipsum. Nulla felis enim, faucibus sit amet lacus quis,
    pulvinar dapibus odio. Maecenas pharetra erat ac dui venenatis, a dapibus
    lorem molestie.
  </li>
</ul>

<p>Nulla felis enim, faucibus sit amet lacus quis,
  pulvinar dapibus odio. Maecenas pharetra erat ac dui venenatis, a dapibus lorem
  molestie. Nam ut fermentum dui. Morbi accumsan felis lacus, eget rhoncus diam
  pellentesque ut. Phasellus eu posuere mauris.</p>
<blockquote>
  <p>Nam ut fermentum dui. Morbi accumsan felis lacus, eget rhoncus diam
  pellentesque ut.</p>
</blockquote>

<p>Nulla felis enim, faucibus sit amet lacus quis,
  pulvinar dapibus odio. Maecenas pharetra erat ac dui venenatis, a dapibus lorem
  molestie. Nam ut fermentum dui. Morbi accumsan felis lacus, eget rhoncus diam
  pellentesque ut. Phasellus eu posuere mauris.</p>

<p>Nulla felis enim, faucibus sit amet lacus quis,
  pulvinar dapibus odio. Maecenas pharetra erat ac dui venenatis, a dapibus lorem
  molestie. Nam ut fermentum dui. Morbi accumsan felis lacus, eget rhoncus diam
  pellentesque ut. Phasellus eu posuere mauris.</p>

{% include '02-patterns/media/media--image--image-with-caption' %}

<p>Nulla felis enim, faucibus sit amet lacus quis,
  pulvinar dapibus odio. Maecenas pharetra erat ac dui venenatis, a dapibus lorem
  molestie. Nam ut fermentum dui. Morbi accumsan felis lacus, eget rhoncus diam
  pellentesque ut. Phasellus eu posuere mauris.</p>
</article>
