<div>
  <p>Wrapper div usually takes a background color.</p>
  <p>This is a default horizontal list.</p>
</div>
<div style="background-color: #023aa8;">
  <ul class="horizontal-list">
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3 is longer</a></li>
    <li><a href="#">Item 4</a></li>
    <li><a href="#">Item 1</a></li>
  </ul>
</div>

<div>
  <p>This is a horizontal tab list with hover indicator.</p>
</div>
<div style="background-color: #023aa8;">
  <ul class="horizontal-list horizontal-tabs">
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3 is longer</a></li>
    <li><a href="#">Item 4</a></li>
    <li><a href="#">Item 1</a></li>
  </ul>
</div>