<ul>
  <li>Option #1</li>
  <li>Option #2</li>
  <li>Option #3</li>
  <li>Donec nec turpis ipsum. Nulla felis enim, faucibus sit amet lacus quis,
    pulvinar dapibus odio. Maecenas pharetra erat ac dui venenatis, a dapibus
    lorem molestie.
  </li>
  <li>Nam ut fermentum dui.
    <ul>
      <li>Morbi accumsan felis lacus, eget rhoncus diam pellentesque ut.</li>
      <li>Phasellus eu posuere mauris. Sed dolor velit, dapibus sit amet diam sed,
        lobortis tempor enim.
      </li>
    </ul>
  </li>
  <li>Donec quam massa, tristique ac nunc non, lobortis condimentum urna.</li>
  <li>Tristique ac nunc non, lobortis condimentum urna.</li>
</ul>
