.sg-colors li {
  min-width: 10em !important;
  max-width: 10em !important;
  width: 10em;
}
.sg-label {
  font-weight: normal !important;
  margin-bottom: 0.3rem;
  margin-left: 0.1rem;
  font-family: $font-family-monospace;
}
