.border-top-default {
  border-top: 1px solid $color-default-border-color;
}

.block-cta--footer .paragraph--view-embed {
  .border-top-contextual {
    border-top: 1px solid $color-default-border-color;
    padding-bottom: 3rem;
    > .paragraph--multi-card--title {
      padding-top: 3rem;
    }
  }
}