<ul class="sg-colors">

  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">$color-text-color: #333333;</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #999999;"></span>
    <span class="sg-label">$color-gray-medium: #999999</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #cccccc;"></span>
    <span class="sg-label">$color-gray-light: #cccccc</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #daeaf8;"></span>
    <span class="sg-label">$color-blue-tag: #daeaf8</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #0e1235;"></span>
    <span class="sg-label">$color-blue-navy: #0e1235</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #023aa8;"></span>
    <span class="sg-label">$color-blue-primary: #023aa8;</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #0451ba;"></span>
    <span class="sg-label">$color-blue-medium: #0451ba;</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #0971ce;"></span>
    <span class="sg-label">$color-blue-bright: #0971ce;</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #fbb300;"></span>
    <span class="sg-label">$color-yellow: #fbb300;</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #f99800;"></span>
    <span class="sg-label">$color-yellow-dark: #f99800;</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">$color-gray-dark: #333333</span>
  </li>

</ul>

<h4>Implementation variables</h4>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #0971ce;"></span>
    <span class="sg-label">$color-link: #0971ce;</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #333333;"></span>
    <span class="sg-label">$color-text-color: #333333;</span>
  </li>

</ul>
