<div class="container">
  <h4>TEN7 Colors</h4>
  <div class="mb-4">
    <ul class="sg-colors mb-4">
      <li>
        <span class="sg-swatch" style="background: var(--green);"></span>
        <span class="sg-label">$green: #bed600;</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--blue);"></span>
        <span class="sg-label">$blue: #91cce3</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--gray);"></span>
        <span class="sg-label">$gray: #818a8f</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--slate);"></span>
        <span class="sg-label">$slate: #37424a</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--dark-green);"></span>
        <span class="sg-label">$dark-green: #8eb400</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--darker-green);"></span>
        <span class="sg-label">$darker-green: #6a9700</span>
      </li>
    </ul>
  </div>

  <h4>Bootstrap Colors</h4>
  <div class="mb-4">
    <ul class="sg-colors mb-4">
      <li>
        <span class="sg-swatch" style="background: var(--blue);"></span>
        <span class="sg-label">$blue: #007bff</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--indigo);"></span>
        <span class="sg-label">$indigo: #6610f2</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--purple);"></span>
        <span class="sg-label">$purple: #6f42c1</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--pink);"></span>
        <span class="sg-label">$pink: #e83e8c</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--red);"></span>
        <span class="sg-label">$red: #dc3545</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--orange);"></span>
        <span class="sg-label">$orange: #fd7e14</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--yellow);"></span>
        <span class="sg-label">$yellow: #ffc107</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--green);"></span>
        <span class="sg-label">$green: #28a745</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--teal);"></span>
        <span class="sg-label">$teal: #20c997</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--cyan);"></span>
        <span class="sg-label">$cyan: #17a2b8</span>
      </li>
    </ul>
  </div>

  <h4>Bootstrap Gray</h4>
  <div class="mb-4">
    <ul class="sg-colors mb-4">
      <li>
        <span class="sg-swatch" style="background: var(--white);"></span>
        <span class="sg-label">$white: #fff</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--100);"></span>
        <span class="sg-label">$gray-100: #f8f9fa</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--200);"></span>
        <span class="sg-label">$gray-200: #e9ecef</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--300);"></span>
        <span class="sg-label">$gray-300: #dee2e6</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--400);"></span>
        <span class="sg-label">$gray-400: #ced4da</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--500);"></span>
        <span class="sg-label">$gray-500: #adb5bd</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--600);"></span>
        <span class="sg-label">$gray-600: #6c757d</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--700);"></span>
        <span class="sg-label">$gray-700: #495057</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--800);"></span>
        <span class="sg-label">$gray-800: #343a40</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--900);"></span>
        <span class="sg-label">$gray-900: #212529</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--black);"></span>
        <span class="sg-label">$black: #000</span>
      </li>
    </ul>
  </div>

  <h4>Bootstrap Theme Colors</h4>
  <div class="mb-4">
    <ul class="sg-colors mb-4">
      <li>
        <span class="sg-swatch" style="background: var(--primary);"></span>
        <span class="sg-label">$primary: $dark-green</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--secondary);"></span>
        <span class="sg-label">$secondary: $gray-600</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--success);"></span>
        <span class="sg-label">$success: $green</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--info);"></span>
        <span class="sg-label">$info: $blue</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--warning);"></span>
        <span class="sg-label">$warning: $yellow</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--danger);"></span>
        <span class="sg-label">$danger: $red</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--light);"></span>
        <span class="sg-label">$light: $gray</span>
      </li>
      <li>
        <span class="sg-swatch" style="background: var(--dark);"></span>
        <span class="sg-label">$dark: $slate</span>
      </li>
    </ul>
  </div>

</div>
