//TODO: figure out a better method of stacking bg image and callout on mobile
// Callout rendered twice, hide mobile callout
.hero-callout--container-mobile {
  display: none;
}
.hero-callout--container {
  width: 55%;
  background-color: $color-blue-primary;
  opacity: 0.8;
  padding: 2.5rem;
  margin-left: -40px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
.hero-callout .hero__title {
  font-family: $typography-font-medium;
  font-size: $font-size-h2;
}
.hero-callout p {
  font-family: $typography-font-regular;
  font-size: 18px;
}
.hero-callout--link {
  font-family: $typography-font-regular;
  font-size: 18px;
  a {
    color: #ffffff;
    margin-left: 4px;
    display: inline-block;
    position: relative;
    padding-left: 15px;
  }
}

@include media-breakpoint-down(sm) {
  // Callout rendered twice, hide desktop callout
  .hero-callout--container-desktop {
    display: none;
  }
  .hero-callout--container-mobile {
    display: block;
  }
  .hero-callout--mobile {
    margin-left: -15px;
    margin-right: -15px;
  }
  .hero-callout--container {
    width: 100%;
    opacity: 1;
    margin-left: 0;
    padding: 2.5rem 15px;
  }
  .hero-callout .hero__title {
    font-size: $font-size-h4;
  }
  .hero-callout p {
    font-size: $font-size-copy-small;
  }
  .hero-callout--link {
    font-size: $font-size-copy-small;
  }
  .hero-callout--link {
    font-size: $font-size-copy-small;
  }
}
