<div class="container-fluid color-white hero hero-lg hero-image d-flex align-items-center py-4 py-md-0">
  <div class="row content-wrapper">
    <div class="hero-content col-12 d-flex align-items-center justify-content-center flex-column">
      <h1>{{ hero.title }}</h1>
      <p class="subhead">{{ hero.subhead }}</p>
    </div>
  </div>
</div>
