<div class="container">
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="form-input-example-1">Label</label>
          <p class="details">Field Details. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum.</p>
          <input id="form-input-example-1" placeholder="The placeholder text" type="text"/>
          <small class="form-text">Resting input with help text</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="form-input-example-2">Label</label>
          <input id="form-input-example-2" type="text" placeholder="Type a city"/>
          <small class="form-text">Resting input with placeholder text</small>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group form-check disabled">
          <label for="form-input-example-4">Label</label>
          <input id="form-input-example-4" type="text" value="Maple Bay" disabled/>
          <small class="form-text">Disabled input with text set to 50% opacity</small>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group has-danger">
          <label for="form-input-example-5">Label</label>
          <input id="form-input-example-5" type="text" value="Maple Bay"/>
          <small class="form-text">I am an inline error message</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="form-textarea-example-1">Label</label>
          <textarea id="form-textarea-example-1"></textarea>
          <small class="form-text">Resting textarea</small>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="form-textarea-example-2">Label</label>
          <textarea id="form-textarea-example-2" class="focus">Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum.</textarea>
          <small class="form-text">Focus on textarea with text</small>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group has-danger">
          <label for="form-textarea-example-3">Label</label>
          <textarea id="form-textarea-example-3"></textarea>
          <small class="form-text">I am an inline error message</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label>Label</label>
          <div class="checkbox">
            <label class="checkbox-label standard">
              <input type="checkbox" />
              <span class="checkmark"></span>
              Default
            </label>
          </div>
          <div class="checkbox">
            <label class="checkbox-label standard">
              <input type="checkbox" checked/>
              <span class="checkmark"></span>
              Selected
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group has-danger">
          <label>Label</label>
          <div class="checkbox">
            <label class="checkbox-label standard">
              <input type="checkbox"/>
              <span class="checkmark"></span>
              Default
            </label>
          </div>
          <small class="form-text">I am an inline error message</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group">
          <label>Label for Radios</label>
          <div class="radio">
            <label class="checkbox-label standard">
              <input name="select-example-1" type="radio" />
              <span class="radio-option"><i class="radio-selection-mark fa fa-circle"></i></span>
              Label
            </label>
          </div>
          <div class="radio">
            <label class="checkbox-label standard">
              <input name="select-example-1" type="radio" checked/>
              <span class="radio-option"><i class="radio-selection-mark fa fa-circle"></i></span>
              Label
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="form-group has-danger">
          <label>Label</label>
          <div class="radio">
            <label class="checkbox-label standard">
              <input name="select-example-2" type="radio" />
              <span class="radio-option"><i class="radio-selection-mark fa fa-circle"></i></span>
              Label
            </label>
          </div>
          <small class="form-text">I am an inline error message</small>
        </div>
      </div>
    </div>
  </form>

  <div class="dropdown-select dropdown-select-md" tabindex="1">
    <span>Select One</span>
    <ul class="dropdown links">
      <li><a href="#">Option 1</a></li>
      <li><a href="#">Option 2</a></li>
      <li><a href="#">Option 3</a></li>
      <li><a href="#">Option 4</a></li>
    </ul>
  </div>
</div>